body{
  box-sizing: border-box;
  width: 80%;
  position: absolute;
  left: 200px;
}
header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 20px 0 70px 0 ;
  border-bottom: 5px dashed rgb(70, 69, 69);
}
div h1,p{
  float: right;
  padding-left: 5px;
}
div h1{
  font-weight: bold;
  font-family:fantasy;
}
div img:nth-last-child(-n+2){
  margin-left: 10px;
}
main h1{
  font-weight: bold;
  font-size: 40px;
}
.bigPhoto , .imgBox{
  width: 100%;
}
.smallPhoto{
  float:right;
  margin: 10px;
}
.paraghraphs{
  line-height: 1.6;
  text-align:justify;
}
.chackBox1{
  position: absolute;
  bottom: 300px;
  left: 300px;
  font-size: 30px;
}
.chackBox2{
  position: absolute;
  bottom: 300px;
  left: 600px;
  font-size: 30px
}
figure{
  border-top: 5px dashed rgb(70, 69, 69);
  padding: 20px 0 20px 0;
}
.name{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 1444px;
  bottom: 100px;
}
.disc{
  position: absolute;
  right: 1230px;
  bottom: 75px;
}
button{
  font-size: 18px;
  background-color: rgb(207, 82, 10);
  color: white;
  float: right;
  width: 150px;
  height: 50px;
}
footer{
  text-align: center;
}
.copy{
 position: absolute;
 right: 750px;
}
.cupchocolate, .cupjuice{
  text-decoration: line-through;
}