* {
  box-sizing: border-box;
}

header {
  background-color: antiquewhite;
  padding: 50px;
}
#Delicious {
  position: relative;
  right: 50px;
}
#Delicious img {
  float: left;
}

#imgs {
  position: relative;
  left: 900px;
}
header #imgs :nth-last-child(2) {
  margin-left: 15px;
}
main h1 {
  font-family: "Sofia", sans-serif;
  font-weight: bolder;
}

#image1 {
  position: relative;
  left: 100px;
}
#imageprint {
  position: relative;
  /* left: 700px;*/
}
.paraghraphs {
  padding: 20px;
  width: 900px;
  margin-left: 100px;
}
.forms1{ margin-left: 100px;}
.forms1 img {
  clear: both;
  position: absolute;
}
.form1 {
  position: relative;
  font: 1em sans-serif;
}

figure {
  clear: both;
  margin-top: 200px;
  background-color: rgb(236, 234, 232);
  padding: 40px;
  width: 600px;
  margin-left: 100px;
}
figure img {
  float: left;
}
#lastpara {
  position: relative;
  left: 500px;
  bottom: 70px;
  background-color: rgb(163, 71, 71);
  border: 2px solid brown;
  width: 60px;
  
}
footer{text-align:center;}
